/* =============== EMPRESA =============== */

.localizacao-pagina {
height: 11.37rem;
  padding-top: 2.6rem;
}

.titulo_emp h1{
  color: #fff;
  font-size: 2.38rem;
  font-weight: 700;
}
.titulo_emp h2{
  color: #fff;
  font-size: 1.25rem;
  font-weight: 300;
}

.titulo_emp h6 span{
  font-size: 1.81rem;
}

.bg_cinza{
  background: #f5f5f5;
  position: relative;
}

.bg_cinza_escuro{
  background: #e9e9e9;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bg_escuro{
  background: #b1b1b1;
  padding-top: 10px;
  padding-bottom: 10px;
}



.bg_amarelo_empresa {
  background: #ffea00;
  padding-top:  20px;
  padding-bottom: 20px;
  position: relative;
}

.bg_amarelo_empresa h2 span {
  color: #252525;
  font-size: 24px;
}

.btn_sobreposto_empresa {
  position: absolute;
  top: 3rem;
  left: 0;
}

.btn_sobreposto_empresa_servico {
  position: absolute;
  top: 3rem;
  left: 0;
}

.btn_empresa {
  color: #040404;
  background: #f7f7ef;
  font-size: 22px;
  border: 4px solid #ffea00;
  width: 100%;
}

.btn_empresa_servico {
  color: #040404;
  background: #f7f7ef;
  font-size: 22px;
  border: 4px solid #ffea00;
  width: 100%;
}
.bloco_cinza {
  position: absolute;
  bottom: 0px;
  left: 0;
  min-width: 95%;
  min-height: 100%;
}

.input-form{height: 3.19rem; background: #fff; border: 1px solid #6e6e6c; color: #000; padding: 0.13rem 2.13rem; margin-bottom: 0.5rem /* 8/16 */; margin-top: 0.07rem;}
.input-form1{height: 3.19rem; background: #eeeded;border: 1px solid #6e6e6c; color: #000; padding: 0.13rem 2.13rem; margin-bottom: 0.5rem /* 8/16 */; margin-top: 0.07rem;}
.campo-textarea{padding-top: 10px;height: 8rem}
.btn_formulario{position: absolute;bottom: 0;border-radius: 0;font-size: .75rem;color: #fff;padding: .63rem 2.06rem;background: #f78436;font-weight: 700;cursor: pointer;font-family:"Lato Black";}
.orcamento-input .input-form{ padding: 0.13rem 1.013rem;}
.trabalhe_conosco b{font-size: .88rem; color: #000;}
/* CONTATO */
form.amp-form-submit-success [submit-success],
form.amp-form-submit-error [submit-error]{
  margin-top: 0.21rem;
}
form.amp-form-submit-success [submit-success] {
  color: green;
}
form.amp-form-submit-error [submit-error] {
  color: red;
}
form.amp-form-submit-success.hide-inputs > input {
  display: none;
}
/* CONTATO */
.btn_prod_solicitar_orcamento{background: #002953; color: #fff; display: block; width: 100%;}
.btn_prod_ligar{background: #b0001d; color: #fff; display: block; width: 100%;}
.input-lista-prod-orcamentos{background: #ec8138;color: #fff; width: 1.88rem ; height: 1.88rem ; text-align: center;font-family: "Lato Black";}

.tabela-orcamento tbody tr td {
  border-top:  0;
  border-bottom: 1px solid #ec8138;
  padding: 4px;
  font-size: .63rem;
}

.fa-times-circle:before {
  color: #525252
}

.fundo_contatos{
  background: url(../imgs/fundo_contatos.png)top 30px right no-repeat;
  width: 100%;
  height: 100%;
}

.tabela-orcamento tbody tr{
  border-bottom: 1px solid #002953;

}

.bg-index {
  background: url("./imgs/bg-index.jpg") top center no-repeat;
  width: 100%;
}

.bg_home{
  background: url("./imgs/fundo_transparente.png") top center;
}

.font-index{
  margin-top: .63rem;
  margin-bottom: 1.6rem;
}

.font-index h1 {
  color: #fff;
  text-shadow: 0.01rem 0.01rem 0.03rem rgba(150, 150, 150, 1);
  font-size: .88rem;
  font-weight: 700;
  opacity: 1;
  text-align: center;
}

.font-index p{
  font-size: 1.06rem;
  color: #fff;
  font-weight: 400;;
  text-shadow: 0.01rem 0.01rem 0.03rem rgba(150, 150, 150, 1);
  text-align: center;
}


.index-bg-icones {
  height: 100%;
  padding: 10px 10px 5px 5px;
  margin-bottom: 5px;
  background: url("./imgs/bg_menu_home.png")top center;
  width: 100%;
  border: 4px solid #f78436;
  border-radius: 10px;
  text-align: center;
}

.menu_contatos {
  background: #643e36;
  padding: 20px 10px;
  text-align: center;
}

.menu_trabalhe{
  background: #643e36;
  opacity: .5;
  cursor: pointer;
  border: 0px;
  padding: 20px 5px;
  text-align: center;
}


.menu_contatos .media,.menu_trabalhe .media{
  margin:  0;
}

.trabalhe_conosco .form-control-feedback{
  position: absolute;
  color: #000;
  top: 2.44rem;
  left: 0.63rem /* 10/16 */;
}

.curriculo input{
  padding-top: 0.88rem;
}


.total-resultado-busca span,.total-resultado-busca h1{
  font-weight: 700;
  color: #0f0f0f;
  font-size:1.13rem;
}

.desc-empresa{
  margin-top: 270px;
}



.categorias_produtos .nav-link h4 {
  font-size: 14px;
  font-family: "Lato Black";
}

.categorias_produtos .nav-link{
  padding: 0;
}

.produtos h1{
  font-size: .94rem;
  color: #000;
}

.btn_saiba_mais {
  font-size: 12px;
  color: #6e6e6e;
  font-family: "Lato Black";
}

.btn_produtos_home img {
  clear: both;
  border-radius: 5px;
  width: 259px;
}

.desc_titulo_home {
  height: 1.94rem;
  overflow: hidden;
}

.localizacao-pagina-produtos h2 span{
  color: #fff;
  font-size: 1.25rem;
}

.localizacao-pagina-produtos h1{
  font-size: .88rem;
  font-family: "Lato Black";
}

.font-index h3{
  color: #fff;
  text-shadow: 1px 2px 5px #0f0f0f;
}

.btn_fechar {
  background: #f78336;
  font-weight: 700;
  font-size: 1.13rem;
  color: #fff;
  border-radius: 3.13rem;
  position: absolute;
  top: 22px;
  right: 9px;
  z-index: 99;
}

#my-lightbox a,#my-lightbox .fa-phone:before{
  color: #040404;
}

.bg_branco{
  background: #fff;
}

.menu_lateral{
  background: #fff;
  padding-top: 0;
}

.menu_lateral .list-group-item:first-child{
  margin-top: 0px;
}

.menu_lateral .list-group-item {
  background-color: #f78336;
  border: none;
  color: #252525;
  margin-top: 8px;
  padding: .44rem .5rem;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

.menu_lateral .ativo{
  background-color: #e2cd2d;
  color: #fff;
  cursor: default;
}

.menu_lateral .list-group-item.active{
  z-index: 2;
  color: #fff;
  background-color: #f78336;
  font-weight: 700;
}

a.btn.disabled, fieldset[disabled] a.btn {
  pointer-events: none;
}

.menu_lateral .list-group-item:hover {
  z-index: 2;
  color: #252525;
  background-color: #fef922;
  font-weight: 400;
}

.btn_nao_encontrado{
  color: #000;
  background: #fef923;
}

.bg_produtos_home1 {
  background: url(../imgs/bg_transparente.png);
  position: absolute;
  width: 100%;
  height: 5.31rem /* 85/16 */;
  bottom: 1px;
  padding: 0;
  min-height: 50px;
}

.btn_sobreposto1 {
  position: absolute;
  top: 2.06rem;
  left: 0px;
  width: 100%;
}

.nossos_produtos h1 {
  font-size: 12px;
  color: #fff;
  font-weight: 700;
}

.btn_saiba_mais1 {
  font-size:12px;
  color: #eeeeee;
  background: #252525;
}

.dicas{
  position: absolute;
  top: 19px;
  left: 35px;
  min-width: 50%;
  min-height: 100%;
}

.dicas_geral .card{
  -moz-box-shadow: 2px 3px 15px #cecece;
-webkit-box-shadow: 2px 3px 15px #cecece;
box-shadow: 2px 3px 15px #cecece;
}

.dicas_geral .card-body{
  background: #f78436;
}


.desc_dicas{
  height:45px;
  overflow: hidden;
}

.btn_detalhes_dicas{
  text-align: right;
  margin-left: 100px;
}

.dicas_dentro P{
  font-size: .94rem;
  color: #000;
  font-weight: 400;
  margin-top: 25%;
}

.dicas_dentro_desc {
    position: absolute;
    top: 63%;
    z-index: 9;
    height: 92px;
    overflow: hidden;
    line-height: 20px;
}

.dica_barra{
  position: absolute;
  top:43%;
  z-index: 1;
}
.bg_branco h3{
  font-size: 1.44rem /* 23/16 */;
}

.barra_produto{
  position: absolute;
  top:75%;
  z-index: 1;
  right: -.5rem /* -8/16 */;
}

#carousel-with-preview,.carousel-preview{
  position: relative;
  z-index: 99;
}

.dica_servicos{
  position: absolute;
  top:2.63rem /* 42/16 */;
  right: -.5rem /* -8/16 */;
  z-index: 1;
}


.dica_servico{
  position: absolute;
  top:8%;
  right: -.5rem /* -8/16 */;
  z-index: 1;
}

.servico_dentro{
  position: absolute;
  z-index: 99;
  top: 24%;
}
.servico_dentro h2 {
    line-height: 25px;
}

.veja h6{
  color: #252525;
  text-shadow: none;
}

.veja h6 span{
  text-shadow: 1px 1px 2px #0f0f0f;
}

.container_metade_esquerda {
  width: 100%;
  background: #eaeae5;
  position: absolute;
  margin-left:  -103px;
  height: 100%;
  top: 35px;
  left:  50%;
  z-index: -1;
}

.container_metade_direita {
  width: 100%;
  background: #eaeae5;
  position: absolute;
  margin-right: -103px;
  height: 100%;
  top: 35px;
  right: 50%;
  z-index: -1;
}

.servicos h3 span {
  font-size: 1rem;
  font-weight: 700;
  color: #252525
}

.servicos h4 {
  font-size: 13px;
  font-weight: 400;
}

.btn_saiba_mais_servicos {
  font-size: 12px;
  color: #252525;
  background: #fef922;
  padding: 10px 30px;
}

.servicos p {
  color: #252525;
  font-size: 10px;
}
.servicos a amp-img {
  border-bottom: 6px solid #fef922;
}

.lista-produto-titulo h1{
  font-size: 1.63rem;
  color: #252525;
  text-shadow: none;
}

.servicos_geral .card-body{
  background: none;
  margin-top: 10%;
}

.servicos_geral .card{
border: none;
}

.servicos_geral p{
font-size: 1rem /* 16/16 */;
font-weight: 400;
}

.servicos_geral h4{
font-size: 1.19rem /* 19/16 */;
}
.desc_servico {
    position: absolute;
    z-index: 99;
    top: 31%;
    left: 7%;
}

.line_servicos{
  height: 52px;
  overflow: hidden;
}

.orcamento_servico{
  position: absolute;
  bottom: -.94rem /* -15/16 */;
}


.nossos_produtos .line_text_prod {
    min-height: 2.25rem;
}

.teste {
    width: 100%;
    height: 100%;
    position: relativo;
    margin-top: 20%;
    align-items: center;
    justify-content: center;
}
